html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #000000;
}


ul{
		margin-top: 0;
        padding: 0;
		list-style: none;
	}
	
    #menu
	{
        position: fixed;
        left: 0;
        right: 0;
        background: white;
        border-radius: 4px;
		z-index: 3;
        
	}
	
	#menu ul
	{
		text-align: center;
		overflow: hidden;

	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a
	{
		display: block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.9vw;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: black;
	}

    #menu li a:hover{
        color: rgba(91,9,121,1);
    }
	
	#menu li a, .dropbtn {
		display: inline-block;
		color: rgb(0, 0, 0);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
	
	#menu .logo a
	{
		background: rgb(4,0,66);
        background: linear-gradient(90deg, rgba(4,0,66,1) 0%, rgba(91,9,121,1) 57%);
		border-radius: 8px;
		color: #FFF;
        position: absolute;
        margin-left: 2em;
	}

    #menu .logo a:hover{
        color: white;
    }

	#menu li a:hover, .dropdown:hover .dropbtn {
		background-color: rgb(245, 245, 245);
	  }
	  
	#menu .dropdown-content {
		display: none;
		position: absolute;
		background-color: rgb(245, 245, 245);
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	#menu .dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	  }

	#menu .dropdown-content a:hover {background-color: rgb(245, 245, 245);}

	#menu .dropdown:hover .dropdown-content {
		display: block;
	  }

    #one{
		height: 100vh;
		width: 100%;
		background: rgb(246, 246, 246);
	}

	#menu .nav-item a{
		border:2px solid rgba(91,9,121,1);
		color: rgba(91,9,121,1);
		border-radius: 8px;
        position: absolute;
		right: 2em;
		top: 1em;
		padding: 0.8vw;
	}

	  
	#menu .nav-item a:hover {
		background-color: rgba(91,9,121,1);
		border: 0px;
		color: rgb(224, 224, 224);
	  }

	  
	#menu .nav-logout p{
		color: rgba(91,9,121,1);
		position: absolute;
		right: 12vw;
		top: 0em;
		padding: 0.8vw;
		font-size: 20px;
		font-weight:600;
	}

	#Title{
		text-align: center;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		font-family: 'Rubik', sans-serif;
		font-weight: 800;
		font-size: 2.5vw;
		color: rgb(127, 21, 165);
		text-transform:capitalize;
		
	}

	#subtitle{
		text-align: center;
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		font-family: 'Rubik', sans-serif;
		font-weight: 500;
		font-size: 1.5vw;
		color: rgba(245, 217, 255, 0.8);
		text-transform:lowercase;
		
	}

	.table-bordered {
		border: 1px solid #e3e6f0;
	}
	
	.table-bordered th,
	.table-bordered td {
		border: 1px solid #e3e6f0;
	}
	
	.table-bordered thead th,
	.table-bordered thead td {
		border-bottom-width: 2px;
	}

	.text-align-right {
		text-align: right;
	  }

	.button-text
	{
		font-family: 'Rubik', sans-serif;
		display: inline-block;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.7vw;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: white;
	}

	.table-text
	{
		font-family: 'Rubik', sans-serif;
		display: inline-block;
		font-weight: 200;
		font-size: 14px;
	}

	.title-text
	{
		font-family: 'Rubik', sans-serif;
		display: inline-block;
		margin-left: 0.50em;	
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: rgb(0, 0, 0);
	}

	.header-text
	{
		font-family: 'Rubik', sans-serif;
		margin-left: 0.50em;	
		display: inline-block;
		text-decoration: none;
		font-size: 15px;
		font-weight: 600;
		outline: 0;
		color: rgb(0, 0, 0);
	}

	.text
	{
		font-family: 'Rubik', sans-serif;
		margin-left: 0.50em;	
		display: inline-block;
		text-decoration: none;
		font-size: 15px;
		font-weight: 100;
		outline: 0;
		color: rgb(0, 0, 0);
	}
	video.background{
		left: 0PX;
		top: 0px;
		width: 100%;
		height: 100vh;
		object-fit:fill;


	 }
	#body-section{
		height: 100%;
		width: 100%;
	}
	#page-body 
	{
		width: 95vw;
		background-color: #f2f2f2;
		padding-top: 100px;
		top: 13%;
		padding-left: 20px;
		padding-right: 20px;

	}

	#copyright
	{
		padding: 0.5em 0em;
		text-align: center;
		color:rgba(91,9,121,1) ;
		background: white;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8vw;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

	.box1{
		padding: 0.5em 0em;
	}

	.form-group {
		margin-bottom: 1rem;
	  }

	.form-control {
		display: block;
		width: 95vw;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	  }
	  .form-control-plaintext {
		display: block;
		width: 100vw;
		padding: 0.375rem 0.75;
		margin-bottom: 0;
		font-size: 1rem;
		line-height: 1.5;
		color: #001eff;
		background-color: transparent;
		border: solid transparent;
		border-width: 1px 0;
	  }

.btn {
	display: inline-block;
	font-weight: 400;
	color: #858796;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.2rem 0.7rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.35rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  
  .btn:hover {
	color: #858796;
	text-decoration: none;
  }
  
  .btn:focus, .btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
  }
  
  .btn.disabled, .btn:disabled {
	opacity: 0.65;
  }
  
  .btn:not(:disabled):not(.disabled) {
	cursor: pointer;
  }
  
  a.btn.disabled,
  fieldset:disabled a.btn {
	pointer-events: none;
  }
    .btn-green {
	color: #fff;
	background-color: #4bbd67;
	border-color: #4bbd67;
  }
  
  .btn-green:hover {
	color: #fff;
	background-color: #59d378;
	border-color: #59d378;
  }
  
  .btn-green:focus, .btn-green.focus {
	color: #fff;
	background-color: #59d378;
	border-color: #59d378;
	box-shadow: 0 0 0 0.2rem rgba(105, 228, 121, 0.5);
  }
  
  .btn-green.disabled, .btn-green:disabled {
	color: #fff;
	background-color: #4bbd67;
	border-color: #4bbd67;
  }
  
  .btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
  .show > .btn-green.dropdown-toggle {
	color: #fff;
	background-color: #42ec33;
	border-color: #42ec33;
  }
  
  .btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
  .show > .btn-green.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(105, 228, 121, 0.5);
  }
  
  .btn-red {
	color: #fff;
	background-color: #d16060;
	border-color: #d16060;
  }
  
  .btn-red:hover {
	color: #fff;
	background-color: #f01111;
	border-color: #f01111;
  }
  
  .btn-red:focus, .btn-red.focus {
	color: #fff;
	background-color: #f01111;
	border-color: #f01111;
	box-shadow: 0 0 0 0.2rem rgba(228, 105, 105, 0.5);
  }
  
  .btn-red.disabled, .btn-red:disabled {
	color: #fff;
	background-color: #d16060;
	border-color: #d16060;
  }
  
  .btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
  .show > .btn-red.dropdown-toggle {
	color: #fff;
	background-color: #f01111;
	border-color: #f01111;
  }
  
  .btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
  .show > .btn-red.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(228, 105, 105, 0.5);
  }

  
  .btn-blue {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
  }
  
  .btn-blue:hover {
	color: #fff;
	background-color: #2e59d9;
	border-color: #2653d4;
  }
  
  .btn-blue:focus, .btn-blue.focus {
	color: #fff;
	background-color: #2e59d9;
	border-color: #2653d4;
	box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  }
  
  .btn-blue.disabled, .btn-blue:disabled {
	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
  }
  
  .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
  .show > .btn-blue.dropdown-toggle {
	color: #fff;
	background-color: #2653d4;
	border-color: #244ec9;
  }
  
  .btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
  .show > .btn-blue.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  }
	  
	  
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	
	#copyright h2
	{
		margin: 0;
		color: rgba(4,0,66,1);
		font-size: 1.5vw;
		position: relative;
	}

	#disclaimer{
		text-decoration: underline;
		color:rgba(91,9,121,0.2) ;
	
	}

	.login-bg{
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(91,9,121,1);
		height: 100vh;
	}


	.login-box{
		margin: auto;
		width: 30%;
		height: 45%;
		padding: 10px;
		background: white;
		border-radius: 10px;
	}

	.user{
		padding: 30px;
	}

	.user input[type=text],input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	  }
	  
	  .user button {
		width: 100%;
		background-color: rgba(91,9,121,0.9);
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	  }
	  
	  .user button:hover {
		background-color: rgba(91,9,121,1);
	  }


	  .user .form-group{
		  padding-bottom: 15px;
	  }

	  .login-title{
		  text-align: center;
		  vertical-align: center;
		  color: rgba(91,9,121,1);
	  }

	  .input-group {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
	  }

	  .form-column {
		position: relative;
		width: 100%;
		padding-right: 0.75rem;
		padding-left: 0.75rem;

	  }
	  .form-row {
		display: inline-block;
		flex-wrap: wrap;
		margin-right: -5px;
		margin-left: -5px;
	  }

	  .form-group {
		margin-bottom: 1rem;
	  }


	  .container {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		margin-right: auto;
		margin-left: auto;
		position: relative;
	  }

	  .photo-shoot-container{
		  position: relative;
	  }


	  table.photo-shoot-table,
	  table.photo-shoot-table th,
	  table.photo-shoot-table td {
		  border: 1px solid black;
	  }
	  
	  table.photo-shoot-table td {
		  padding: 0.5em;
	  }
	  
	  .center {
		  width: fit-content;
		  margin: 0 auto;
	  }
	  
	  .aligned-form {
		  display: table;
	  }
	  
	  .aligned-form div.row {
		  display: table-row;
	  }
	  
	  .aligned-form label,
	  .aligned-form input {
		  display: table-cell;
	  }
	  
	  .aligned-form label {
		  padding: 0.5em 1em 0.5em 0;
		  text-align: right;
	  }
	  
	  .row {
		  padding-top: 1em;
		  padding-bottom: 1em;
	  }
	  
	  #photo-shoot-title{
		  text-align: center;
	  }

	  .row {
		padding-top: 1em;
		padding-bottom: 1em;
	}